<h1>Welcome to Playlister!</h1>

<h3>Please select a category you would like to view:</h3>
  <li><a href="/songs">Songs</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/genres">Genres</a></li>
